.App {
  text-align: center;
  display: flex;

}

.body {
  margin: 20px;
  background: #efefef;
  border: none;
  border-radius: 5px;
  width: fit-content;
  padding: 20px;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0),
    inset -2px -2px 4px rgba(255, 255, 255, 0),
    inset 2px 2px 2px rgba(255, 255, 255, .075),
    inset 2px 2px 4px rgba(0, 0, 0, .15);
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.counter {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  width: 100px;
}

button {
  margin-left: 10px;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  letter-spacing: .2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;

}

button:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
    -2px -2px 4px rgba(255, 255, 255, .4),
    2px 2px 2px rgba(255, 255, 255, .05),
    2px 2px 4px rgba(0, 0, 0, 0.551);
  scale: 1.1;
}

button:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0),
    inset -2px -2px 4px rgba(255, 255, 255, 0),
    inset 2px 2px 2px rgba(255, 255, 255, .075),
    inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.is-danger {
  background: #e74040;
  box-shadow: -6px -6px 14px #d3d1d16d,
    -6px -6px 10px rgba(255, 255, 255, 0.575),
    6px 6px 8px rgba(255, 255, 255, .075),
    6px 6px 10px rgba(0, 0, 0, 0.261);
}

.is-success {
  background: #4fa938;
  box-shadow: -6px -6px 14px #eceeec7f,
    -6px -6px 10px rgba(255, 255, 255, 0.575),
    6px 6px 8px rgba(255, 255, 255, .075),
    6px 6px 10px rgba(0, 0, 0, 0.23);
}

.total {
  margin-left: 10px;
  font-weight: bold;
  font-size: larger;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}