.App{
align-items: center;
display: flex;
flex-direction: column;
}

.card{
  margin: 30px 10px;
  padding: 20px;
  background-color: rgb(29, 143, 236);
  color: white;
  width: 40%;
  box-shadow: 10px 10px #a7a4a4;
}

.content{
  margin: 10px 0px;
}
