.App {
  text-align: center;
  display: flex;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.counter {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  width: 20%;
}

.button {
  margin-left: 10px;
  height: 20px;
  width: 20px;
}

.is-danger {
  background-color: red;
  border: 0px;
  color: white;
  border-radius: 5px;
}

.is-success {
  background-color: green;
  border: 0px;
  color: white;
  border-radius: 5px;
}

.total {
  margin-left: 10px;
  font-weight: bold;
  font-size: larger;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}